/* (edit style.css for your own book styles) */

/* Quote box */

.quote {
  padding: 1em 1em 0.25em 3.5em;
  margin-bottom: 10px;
  background-color: hsla(0, 0%, 100%, .1);
  background-position: 0.5em 0.5em;
  background-size: 2.5em;
  background-repeat: no-repeat;
  border-radius: 0.5em;
}

.quote {
  background-image: url("../images/alerts/quote.svg");
  background-size: 30px;
  background-color: hsla(49, 87%, 70%, .1);
  border: 1px solid var(--yellow);
}
